<table
  role='presentation'
  style='width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;'
>
  <tr>
    <td align='center' style='padding:0;'>
      <table
        role='presentation'
        style='width:602px;border-collapse:collapse;border:1px solid #cccccc;border-spacing:0;text-align:left;'
      >
        <tr>
          <td align='center'>
            <img
              src='https://img.freepik.com/free-psd/geometric-figures-in-3d-rendering_23-2149108273.jpg?w=2000&t=st=1683223889~exp=1683224489~hmac=8d68281dd493c11c06b544dd9242b8769cef4cbed41b326119bdca70e8ce040a'
              alt=''
              width='100%'
              style='height:auto;display:block;'
            />
          </td>
        </tr>
        <tr>
          <td style='padding:36px 30px 42px 30px;'>
            <table
              role='presentation'
              style='width:100%;border-collapse:collapse;border:0;border-spacing:0;'
            >
              <tr>
                <td style='padding:0 0 36px 0;color:#153643;'>
                  <h1
                    style='font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif;'
                  >Welcome to the club, buddy!</h1>
                  <p
                    style='margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;'
                  >
                  Великий Саурон призывает тебя присоединиться к нам в нашем великом путешествии. Наша миссия - защитить Средиземье от темных сил и установить мир и порядок в этом мире.
                  Именно ты, как 3D-моделлер, можешь стать нашим сильным звеном. Мы нуждаемся в твоих умениях и талантах, чтобы создавать крутые модели для наших заданий.
                  Поэтому мы предлагаем тебе зарегистрироваться в нашем сервисе, где ты сможешь присоединиться к великой миссии.
                  Не откладывай свое решение - Средиземье нуждается в тебе. Присоединяйся к нам сегодня и помоги нам одержать победу над темными силами!
                  С уважением,
                  Команда 3D4PRO
                  </p>
                  <p
                    style='margin:0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;'
                  > Ссылка на регистрацию находится <a href="{{ url }}">здесь</a></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
       
      </table>
    </td>
  </tr>
</table>